In [1]:
import pandas as pd

In [9]:
na_vals = ['NA', 'Missing']
df = pd.read_csv('data 2021/survey_results_public.csv', index_col='ResponseId', na_values=na_vals)

In [10]:
df.shape
#shows number of rows and colums

(83439, 47)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83439 entries, 1 to 83439
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    83439 non-null  object
 1   Employment                    83323 non-null  object
 2   Country                       83439 non-null  object
 3   US_State                      14920 non-null  object
 4   UK_Country                    4418 non-null   object
 5   EdLevel                       83126 non-null  object
 6   Age1stCode                    83243 non-null  object
 7   LearnCode                     82963 non-null  object
 8   YearsCode                     81641 non-null  object
 9   YearsCodePro                  61216 non-null  object
 10  DevType                       66484 non-null  object
 11  OrgSize                       60726 non-null  object
 12  Currency                      61080 non-null  object
 13  CompTotal                     47183 non-null  float64
 14  CompFreq                      52150 non-null  object
 15  LanguageHaveWorkedWith        82357 non-null  object
 16  LanguageWantToWorkWith        76821 non-null  object
 17  DatabaseHaveWorkedWith        69546 non-null  object
 18  DatabaseWantToWorkWith        58299 non-null  object
 19  PlatformHaveWorkedWith        52135 non-null  object
 20  PlatformWantToWorkWith        41619 non-null  object
 21  WebframeHaveWorkedWith        61707 non-null  object
 22  WebframeWantToWorkWith        52095 non-null  object
 23  MiscTechHaveWorkedWith        47055 non-null  object
 24  MiscTechWantToWorkWith        38021 non-null  object
 25  ToolsTechHaveWorkedWith       72537 non-null  object
 26  ToolsTechWantToWorkWith       65480 non-null  object
 27  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 28  NEWCollabToolsWantToWorkWith  73022 non-null  object
 29  OpSys                         83294 non-null  object
 30  NEWStuck                      83052 non-null  object
 31  NEWSOSites                    83171 non-null  object
 32  SOVisitFreq                   82413 non-null  object
 33  SOAccount                     82525 non-null  object
 34  SOPartFreq                    67553 non-null  object
 35  SOComm                        82319 non-null  object
 36  NEWOtherComms                 82828 non-null  object
 37  Age                           82407 non-null  object
 38  Gender                        82286 non-null  object
 39  Trans                         80678 non-null  object
 40  Sexuality                     73366 non-null  object
 41  Ethnicity                     79464 non-null  object
 42  Accessibility                 77603 non-null  object
 43  MentalHealth                  76920 non-null  object
 44  SurveyLength                  81711 non-null  object
 45  SurveyEase                    81948 non-null  object
 46  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), object(45)
memory usage: 30.6+ MB

In [13]:
pd.set_option('display.max_columns', 48)
pd.set_option('display.max_rows', 48)
#setting how data is dsiplay with full column

In [14]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [7]:
df.rename(columns = {'Age1stCode':'Age'}, inplace=True)
#changing column name

In [8]:
df.loc[5, 'US_State'] = 'Texas'
#changing a single row value
df.loc[5, ['Employment','Country','Currency']] = ['self, full-time','Spain','US Dollars']
#changing multiple row values
#OR
df.at[5, ['Employment','Country','Currency']] = ['self, full-time','Spain','US Dollars']
#changing multiple row values

ValueError: Invalid call for scalar access (setting)!

In [ ]:
df

In [ ]:
schema_df = pd.read_csv('data 2021/survey_results_schema.csv', index_col = 'qid')
#using value for index

In [ ]:
schema_df.head()

In [ ]:
schema_df.sort_index(inplace=True)

In [ ]:
df['Employment'].value_counts()

In [ ]:
df.loc[1:4, 'Employment': 'Age1stCode']
#getting location using slicing (:)

In [ ]:
high_salary = (df['ConvertedCompYearly'] > 10000)
#filtering a column

In [ ]:
df.loc[high_salary, ['MainBranch', 'Employment','Age', 'Gender', 'Country','ConvertedCompYearly']]

In [ ]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
#to filter all those that knows Python

In [ ]:
df.loc[filt, 'LanguageHaveWorkedWith']

In [ ]:
df.drop(columns=['SurveyLength','SurveyEase', 'OpSys', 'NEWStuck','NEWSOSites'], inplace=True)
#dropping colums

In [ ]:
df['DatabaseHaveWorkedWith'].value_counts()

In [ ]:
filt = df['Country'] == 'Slovakia'
df.loc[filt]['ToolsTechHaveWorkedWith'].value_counts()
#filtering by table

In [ ]:
Country_grp = df.groupby(['Country'])
#using group by single column

In [ ]:
Country_grp.get_group('Slovakia')
#using group by single country

In [ ]:
Country_grp['ConvertedCompYearly'].median()

In [ ]:
Country_grp['ConvertedCompYearly'].agg(['median', 'mean']).loc['Canada']
#using aggregate function plus location to filter

In [ ]:
filt = df['Country'] == 'Slovakia'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()
#using location plus string method and sum on boolean

In [ ]:
Country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
#apply method can only be used with groupby to filter

In [ ]:
country_respondents = df['Country'].value_counts()
country_respondents

In [ ]:
country_uses_Python = Country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_Python

In [ ]:
Combining_Python_Users = pd.concat([country_respondents, country_uses_Python], axis='columns', sort=False)
Combining_Python_Users
#using concat to join dataframe

In [ ]:
Combining_Python_Users.rename(columns={'Country': 'NumRespondents', 'LanguageHaveWorkedWith' : 'NumKnowsPython'}, inplace=True)
#renaming the columns

In [ ]:
Combining_Python_Users

In [ ]:
Combining_Python_Users['PctKnowsPython'] = (Combining_Python_Users['NumKnowsPython']/Combining_Python_Users['NumRespondents']) * 100
#creating new column in percentage

In [ ]:
Combining_Python_Users

In [ ]:
Combining_Python_Users.sort_values(by='PctKnowsPython', ascending=False, inplace=True)

In [ ]:
Combining_Python_Users

In [15]:
df['YearsCode'].head(10)

ResponseId
1     NaN
2       7
3     NaN
4     NaN
5      17
6     NaN
7       3
8       4
9       6
10      7
Name: YearsCode, dtype: object

In [36]:
df['YearsCode'].unique() 
#viewing all unique values and replace all objects values to strings value

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 0, '22', '2', '1', '34',
       '21', '13', '25', '24', '30', '31', '18', '38', 51, '27', '41',
       '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45',
       '29', '50', '46', '32', '47', '49', '48'], dtype=object)

In [35]:
df['YearsCode'].replace('Less than 1 year', 0,  inplace=True)

In [33]:
df['YearsCode'].replace('More than 50 years', 51,  inplace=True)

In [38]:
df['YearsCode']=df['YearsCode'].astype(float)

In [39]:
df['YearsCode'].mean()

12.338200169032717

In [40]:
df['YearsCode'].median()

10.0